@import url(https://fonts.googleapis.com/css?family=Signika+Negative:400,700);

html, body {
  height:100%;
  font-family: 'Signika Negative', sans-serif;
  font-size: 25px;
}

html {
  /* background: url('https://2.bp.blogspot.com/-SUMDIuZ7m48/TeWj1YDWcNI/AAAAAAAABhg/9fjPiDZHwms/s1600/winter.JPG') fixed;*/
  background: url('map.jpg') fixed;
  background-size:cover;
  background-repeat:no-repeat;
  background-position: center top;
}

div {
  overflow: hidden;
}

a {
  color: #322bff;
  text-decoration: underline;
  transition: 500ms;
}
a:hover {
  color: #26a1ff;
}

p {
  padding: 0 5%;
}

img {
  /* box-shadow: 0px 0px 4px #000; */
  border-radius: 50%;
}

img2 {
  border-radius: 50%;
}


.grid-container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}
.grid-container3 {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.grid-item {
  padding: 20px;
  text-align: center;
}

#header {
  background: rgba(255, 255, 255, .75);
  padding: 1%;
  overflow: hidden;
}

#header img {
  float: left;
  box-shadow: none;
}
#header ul {
  list-style: none;
  float: left;
  padding-left: 10px;
  margin-top: 15px;
}
#header ul li {
  float: left;
  margin-left: 10px;
  font-size: 20px;
}

.fullscreen {
  height: 50%;
  position: relative;
}
.fullscreen .header {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  color: #fff;
  /* text-shadow: 0px 0px 2px #000; */
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

.white {
  background: #eeeeec;
  padding: 0 5%;
}

.text {
  text-align: justify;
  text-justify: inter-word;
}

.nobg {
  background: none;
  padding: 0 5%;
  color: #fff;
  text-shadow: 0px 0px 4px #000;
}
.semitrans {
  background: rgba(255, 255, 255, .7);
  padding: 0 5%;
  text-shadow: 0px 0px 3px white;
  /* color: darkblue; */
}
.dark {
  color: #eeeeec;
  background: #010105;
}

.thank {
  font-size: small
}

.nopadding {
  padding: 0;
}

.float {
  margin: 2%;
}
.floatleft {
  float: left;
  margin: 2%;
}
.floatright {
  float: right;
  margin 2%;
}

.more {
  text-align: center;
  font-size: 17px;
}
.more a {
  color: #aaa;
  text-decoration: none;
  cursor: pointer;
}
.more a:hover {
  color: #777;
}


/* for the buttons to expend info*/



.hidden {
  display: none;
  /*height: 100px;
  background: red;*/
}
:checked ~ .hidden{
  display: block;
  text-align: justify;
  text-justify: inter-word;
}

.label{
}
.link{
  color:#000;
  font-size:large;
}

label:hover {
  color:#aaa;
  cursor:pointer;
}

/* for the time table */
table, th, td {
  border: 1px solid black;
  /* border-spacing: 5px; */
}

/* tr:nth-child(5) {background-color: DarkGrey;}
tr:nth-child(9) {background-color: DarkGrey;} */
/* tr:nth-child(4) {background-color: DarkGrey;}
tr:nth-child(7) {background-color: DarkGrey;} */

th, td {
  padding: 10px;
}

th {
  text-align: center;
}

/* TO FIX 2021 VS 2022 */
#prog-2021 tr:nth-child(5) {background-color: DarkGrey;}
#prog-2021 tr:nth-child(9) {background-color: DarkGrey;}

/* Programme 2022 */
#prog-2022 tr:nth-child(4) {background-color: DarkGrey;}
#prog-2022 tr:nth-child(7) {background-color: DarkGrey;}
